{% extends 'main/base.html' %}

{% block content %}
<div class="titleForm">
	<h5>{{ addItemMessage }}</h5>
</div>
<div class="form">
	<form class="addGuestForm" method="POST" action="">{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Add item">
	</form>
</div>
<div class="title">
	<h5>You missing</h5>
</div>
	<div class="guests_list">
		<ul class="list-group">
		{% for item, qtt in goods.items %}
		  <li class="list-group-item">{{ qtt }} of {{ item }}</li>
		 {% endfor %}
		</ul>
{% endblock content %}